body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
}

.container {
    width: 100%;
    max-width: 320px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-size: 24px;
    color: #FF7F00;
}

h2 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
    display: block;
}

input[type="text"], input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.birthday-input {
    display: flex;
    justify-content: space-between;
}

.birthday-input input {
    width: 30%;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #FF7F00;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #e66a00;
}

.summary {
    text-align: left;
}

.summary p {
    font-size: 14px;
    color: #333;
    margin: 5px 0;
}
